*{
    margin: 0;
    padding: 0;
}
.header{
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(135, 187, 99);
    width: 100%;
}
.btnn{
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1em;
    color:rgb(63, 86, 46) ;
    transition: 0.6s;
}
.btnn:hover{
    background-color: rgb(215, 215, 215);
}
.fa-solid{
    font-size: 2em;
}